<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipe Dashboard</title>
	<link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container-mainDashboard">
        <div class="nav">
            <div class="nav-left">
                <h1>Search Results</h1>
            </div>
            <div class="nav-right">
                <a class='recipesHome' href="../../recipe">Dashboard</a>
                <form action="/recipe/preSearchRecipe" method='POST' class="searchForm">
                    <input type="hidden" name="_method" value="GET">
                    <input type="text" placeholder="Search Recipes" name='searchRecipe' class="searchRecipe">
                    <button type="submit" class="findRecipeButton">Find Recipes</button>
                </form>
                <a class='logout' href="/logout">Logout</a>
            </div>   
        </div>
        <div class="recipeCards">
            <div class="user-recipe-card-container">
                <h2 class="userNameHeading">Search Results</h2>
                <% recipes.forEach( recipe => { %>
                    <div class="recipeCard" data-id='<%=recipe._id%>'>
                        <div class="recipeQuickInfo">
                            <a class='recipeTitle'><%= recipe.title%></a>
                            <span class='recipeTime'><%= recipe.time%></span>
                            <span class="recipeCals"><%= recipe.cals%></span>
                            <span class="recipeLikesCount"><%=recipe.likesCount%></span>
                        </div>
                        <div class="editAndDelete">
                            <% if(user.id === recipe.userId) { %>
                                <a class='deleteRecipe'>Delete</a>
                                <a class='editRecipe' href="../../recipe/editRecipe/<%=recipe._id%>">Edit</a>
                            <% } %>
                                <a class='viewRecipe' href="../../recipe/wholeRecipeView/<%=recipe._id%>">View</a>
                            <% if (!recipe.likedBy.includes(user.id)) {%>
                                <form action="/recipe/likeRecipe/<%=recipe._id%>" method='POST'><!--POST gets overridden with PUT when methodOverride is used -->
                                <input type="hidden" name="_method" value="PUT"><!--PUT method override-->
                                    <button type="submit" class="likeRecipe">
                                    Like
                                    </button>
                                </form>
                            <% } else {%>
                                <form action="/recipe/unlikeRecipe/<%=recipe._id%>" method='POST'><!--POST gets overridden with PUT when methodOverride is used -->
                                <input type="hidden" name="_method" value="PUT"><!--PUT method override-->
                                <button type="submit" class="unlikeRecipe">
                                    Unlike
                                </button>
                                </form>
                            <% } %>
                        </div>
                    </div>
                <% }) %> 
            </div>
       </div>

    </div>
    <script src="/js/main.js"></script>
</body>
</html>