<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recipe Dashboard</title>
    <!-- <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/style.css"> -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
      crossorigin="anonymous"
    />
    <script src="//code.jquery.com/jquery-1.12.4.js"></script>
    <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  </head>
  <body>
    <!-- This is the navigation bar -->
    <nav
      class="navbar navbar-expand-sm navbar-dark bg-dark"
      aria-label="Third navbar example"
    >
      <div class="container-fluid">
        <a class="navbar-brand" href="/recipe">THE RECIPE BOOK</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarsExample03"
          aria-controls="navbarsExample03"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample03">
          <ul class="navbar-nav me-auto mb-2 mb-sm-0">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          </ul>
          <form
            role="search"
            action="/recipe/preSearchRecipe"
            method="POST"
            class="d-flex"
          >
            <input type="hidden" name="_method" value="GET" />
            <input
              type="search"
              placeholder="Search Recipes"
              name="searchRecipe"
              class="form-control me-2"
              aria-label="Search"
            />
            <button type="submit" class="btn btn-secondary">Search</button>
          </form>
        </div>
      </div>
    </nav>

    <!-- This is the recipe card  -->
    <div class="card m-6">
      <img src="..." class="card-img-top" alt="..." />
      <div class="card-body">
        <h2 class="text-center"><%= recipe.title%></h2>
        <h6 class="text-center"><%= recipe.time%></h6>
        <h6 class="text-center"><%= recipe.cals%> calories</h6>
        <img
          class="rounded mx-auto d-block"
          src="https://source.unsplash.com/1600x900/?<%= recipe.image%>"
          alt="<% recipe.image %> "
          style="max-width: 60%"
        />
        <h3 class="text-center">Ingredients</h3>
        <p class="text-center"><%= recipe.ingredients%></p>
        <h3 class="text-center">Instructions</h3>
        <p class="text-center"><%= recipe.instructions%></p>
        <p class="card-text">
          <small class="text-muted"><%=recipe.likesCount%> Likes</small>
        </p>
        <div class="control-group" style="display: flex;">
          <% if(user.id === recipe.userId) { %>
          <a class="btn btn-danger  m-1 mb-2 deleteRecipe">Delete</a>
          <a class="btn btn-warning  m-1 mb-2" href="recipe/editRecipe/<%=recipe._id%>"
            >Edit</a
          >
          <% } %> <% if (!recipe.likedBy.includes(user.id)) {%> <% %>
          <form action="../../recipe/likeRecipe/<%=recipe._id%>" method="POST">
            <!--POST gets overridden with PUT when methodOverride is used -->
            <input
              type="hidden"
              name="_method"
              value="PUT"
            /><!--PUT method override-->
            <button type="submit" class="btn btn-primary m-1 mb-2">Like</button>
          </form>
          <% } else {%>
          <form
            action="../../recipe/unlikeRecipe/<%=recipe._id%>"
            method="POST"
          >
            <!--POST gets overridden with PUT when methodOverride is used -->
            <input
              type="hidden"
              name="_method"
              value="PUT"
            /><!--PUT method override-->
            <button type="submit" class="btn btn-primary m-1 mb-2">Unlike</button>
          </form>
          <% } %>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>
    <script src="/js/main.js"></script>
  </body>
</html>
